html {
    margin: 0;
}
body{
    margin: 4rem;
   border: 10px solid #eeeeee;
   border-bottom: 20px solid #eeeeee;
}
   

.line {
    border: none;
    height: 1px;
    background-color: black;
    margin: 0;

}

h2 {
    margin: 0;
}

/*  */
.bottom {
    /* display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between; */
    border-top: 1px solid gray ;
    padding: 0 10px;
    display: flex;
}

.bottom-left {

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0;
    width: 30%;
    margin-left: 2%;
    /* Điều chỉnh khoảng cách từ trái */
}

.Gender{
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.bottom-right {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 0;
    width: 100%;
    margin-left: 2%;
  
}
input[type="text"]{
    width: 100%;
    height: 1.2rem;
    margin-bottom: 1rem;
    padding: 0;
    border-radius: 0;

}

.radio{
    text-align: left;
    margin: 0;
    padding: 0;
   


}
label{
    font-size: 85%;

}
.radio input[type="radio"]{
    padding: 0;
    margin: 0;
    margin-right: 5px;
 
}

.Report{
    /* width: 2rem; */
    border-radius: 10%;
    padding: 0.5rem;
}
/* ---------------------------------------- */
.main-bottom{

    border-top: 1px solid gray ;
    padding: 0 10px;
    display: flex;
}

.main-bottom-left {
    padding: 0;
    width: 30%;
    margin-left: 2%;
    /* Điều chỉnh khoảng cách từ trái */
    margin-top: 1rem;
}
.main-bottom-right {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style:normal;
    padding: 0;
    width: 100%;
    margin-left: 2%;
   margin-top: 2rem;
  
}
.main-bottom-left p{
    
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 1.5rem;
}
.Russian{
    padding: 0.3rem;
    margin-bottom: 0.5rem;

} 

.main-bottom-right input[type="text"]{
    width: 100%;
    height: 1.2rem;
    margin-top: 2px;
    margin-bottom: 1.2rem;
}
